defaults:
  - experiment: ???
  - training: ??? # [spec, refine]
  - data: ???

model:
  use_image: False

optim:
  method: Adam
  max_iter: 100000
  weight_decay: 0

comet:
  use: False
  tags: null
  resume_key: null

img_interval: 100
test_interval: 1000 # save ckpt when testing
seed: null
gpu_ids:
  - 1